node_modules
.vscode-test/
*.vsix
src/backend/build
src/backend/dist
src/backend/cache
src/backend/GoogleNews-vectors-negative300.bin
src/backend/bert_pretrain
src/backend/__pycache__
src/backend/utils/__pycache__
.idea
main.spec
.ipynb_checkpoints/
